
    <div class="h-14 basis-full top-0 sticky space-x-2 bg-slate-200 p-2 flex items-center">
        <mat-icon *ngIf="!sidePanelOpen" (click)="openSidePanel()" class="hover:border-2 hover:border-slate-500 p-1 icon-size-8 rounded-full text-black" svgIcon="heroicons_solid:chevron-double-right"></mat-icon>
        <div class=" w-52 bg-white rounded-3xl flex cursor-default items-center text-[15px] p-1 min-w-40">
            <div class="w-26 text-center p-1 {{active=='overview'?activeClass:''}}" (click)="active='overview'">Overview</div>
            <div class="w-26 text-center p-1 {{active=='timeline'?activeClass:''}}" (click)="active='timeline'">Timeline</div>
        </div>
    </div>

<div class="h-5/6 w-full overflow-auto" cdkScrollable>

    <!-- OverView -->
    <ng-container *ngIf="active=='overview'">
    <div class="p-8 space-y-4">

        <!-- baisc info -->
        <div class="flex space-x-4 w-full">
            <div class="basis-2/3 card p-5">
                <table class="w-full">
                    <tr>
                        <td class="py-1 text-gray-500 px-3 w-40 text-right">Lead Owner</td>
                        <td class="py-1 px-3">{{viewDetailsData?.lead_owner }}</td>
                    </tr>
                    <tr>
                        <td class="py-1 text-gray-500 px-3 w-40 text-right">Email</td>
                        <td class="py-1 px-3">{{viewDetailsData?.email}}</td>
                    </tr>
                    <tr>
                        <td class="py-1 text-gray-500 px-3 w-40 text-right">Phone</td>
                        <td class="py-1 px-3 flex items-center">
                            <mat-icon class="icon-size-5  text-emerald-600 bg-emerald-100 p-1 mr-2 rounded-md" svgIcon="mat_solid:call"></mat-icon>
                             {{viewDetailsData?.phone}}</td>
                    </tr>
                    <tr>
                        <td class="py-1 text-gray-500 px-3 w-40 text-right">Mobile</td>
                        <td class="py-1 px-3 flex items-center">
                            <mat-icon class="icon-size-5  text-emerald-600 bg-emerald-100 p-1 mr-2 rounded-md" svgIcon="mat_solid:call"></mat-icon>
                            {{viewDetailsData?.mobile}}</td>
                    </tr>
                    <tr>
                        <td class="py-1 text-gray-500 px-3 w-40 text-right">Lead Status</td>
                        <td class="py-1 px-3">{{viewDetailsData?.lead_status}}</td>
                    </tr>
                </table>
            </div>
            <div class="basis-1/3 card p-8 space-y-2">
                <div class="flex justify-between">
                    <h2 class="font-semibold">Best time to</h2>
                    <p class="text-sky-600 hover:underline cursor-default text-sm" [matMenuTriggerFor]="timeMenu">{{timeSelected?.name}}</p>
                </div>
                <div class="text-gray-500  my-4 py-2">
                    <h3 class="text-md">Call</h3>
                    <p class="text-sm">No best time for the day</p>
                </div>
                <div class="text-gray-500  my-4 py-2">
                    <h3 class="text-md">Email</h3>
                    <p class="text-sm" >No best time for the day</p>
                </div> 
            </div>
        </div>


        <!-- Details -->
        <div class="basis-2/3 card p-0 ">
            <div class="font-bold px-5 py-3 border-b-2 cursor-pointer flex items-center" (click)="showDets = !showDets">
                <mat-icon  [svgIcon]="showDets?'arrow_drop_down':'arrow_right'" #icon></mat-icon>
                <span class="text-xl ">{{showDets?'Hide':'Show'}} Details</span>
            </div>
            <ng-container *ngIf="showDets">
                 <!-- Lead Information -->
            <h2 class="p-7 pb-2">Lead Information</h2>
            <div class="flex p-7 pt-0 w-full space-x-2">
                <!-- Left -->
                <div class="basis-1/2 flex flex-col">
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Lead Owner</div>
                        <div class=" basis-2/3">{{viewDetailsData?.lead_owner}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Title</div>
                        <div class=" basis-2/3">{{viewDetailsData?.title}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Phone</div>
                        <div class=" basis-2/3 flex items-center">
                            <mat-icon class="icon-size-5  text-emerald-600 bg-emerald-100 p-1 mr-2 rounded-md" svgIcon="mat_solid:call"></mat-icon>
                            {{viewDetailsData?.phone}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Mobile</div>
                        <div class=" basis-2/3flex items-center">
                            <mat-icon class="icon-size-5  text-emerald-600 bg-emerald-100 p-1 mr-2 rounded-md" svgIcon="mat_solid:call"></mat-icon>
                            {{viewDetailsData?.mobile}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Lead Source</div>
                        <div class=" basis-2/3">{{viewDetailsData?.lead_source}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Industry</div>
                        <div class=" basis-2/3">{{viewDetailsData?.industry}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Email Opt Out</div>
                        <div class=" basis-2/3">{{viewDetailsData?.email_opt_out}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Modified By</div>
                        <div class=" basis-2/3">{{''}}</div>
                    </div>
                </div>

                <!-- Right -->
                <div class="basis-1/2 flex flex-col">
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Company</div>
                        <div class=" basis-2/3">{{viewDetailsData?.company}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Lead Name</div>
                        <div class=" basis-2/3">{{viewDetailsData?.first_name+' '+viewDetailsData?.last_name}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Email</div>
                        <div class=" basis-2/3">{{viewDetailsData?.email}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Fax</div>
                        <div class=" basis-2/3">{{viewDetailsData?.fax}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Website</div>
                        <div class=" basis-2/3">{{viewDetailsData?.website}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Lead Status</div>
                        <div class=" basis-2/3">{{viewDetailsData?.lead_status}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">No. of Employees</div>
                        <div class=" basis-2/3">{{viewDetailsData?.no_of_employees}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Rating</div>
                        <div class=" basis-2/3">{{viewDetailsData?.rating}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Created By</div>
                        <div class=" basis-2/3">{{viewDetailsData?.created_by}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Skype ID</div>
                        <div class=" basis-2/3">{{viewDetailsData?.skype_id}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Secondary Email</div>
                        <div class=" basis-2/3">{{viewDetailsData?.secondary_email}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Twitter</div>
                        <div class=" basis-2/3">{{viewDetailsData?.twitter}}</div>
                    </div>
                </div>
            </div>

            <!-- Address information -->
            <h2 class="p-7 pb-2">Address Information</h2>
            <div class="flex p-7 pt-0 w-full space-x-2">
                <!-- Left -->
                <div class="basis-1/2 flex flex-col">
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Street</div>
                        <div class=" basis-2/3">{{viewDetailsData?.street}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">State</div>
                        <div class=" basis-2/3">{{viewDetailsData?.state}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Country</div>
                        <div class=" basis-2/3">{{viewDetailsData?.country}}</div>
                    </div>
                    
                </div>

                <!-- Right -->
                <div class="basis-1/2 flex flex-col">
                    
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">City</div>
                        <div class=" basis-2/3">{{viewDetailsData?.city}}</div>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">ZipCode</div>
                        <div class=" basis-2/3">{{viewDetailsData?.zipcode}}</div>
                    </div>
                </div>
            </div>

             <!-- Description  information -->
             <h2 class="p-7 pb-2">Description  Information</h2>
             <div class="flex p-7 pt-0 w-full space-x-2">
                 <!-- Left -->
                 <div class="basis-full  flex flex-col">
                     <div class="w-full flex p-2">
                         <div class="px-4 text-gray-500 text-right basis-2/12">Description </div>
                         <div class=" basis-full">{{viewDetailsData?.description}}</div>
                     </div>
                    
                 </div>
             </div>


              <!-- Visit Summary -->
            <h2 class="p-7 pb-2">Visit Summary</h2>
            <div class="flex p-7 pt-0 w-full space-x-2">
                <!-- Left -->
                <div class="basis-1/2 flex flex-col">
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">First Visit</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.street}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Referrer</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.state}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Most Recent Visit</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.country}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">No of Chats</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.country}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    
                </div>

                <!-- Right -->
                <div class="basis-1/2 flex flex-col">
                    
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Visitor Score</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.city}}</div>-->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Average Time Spent (Minutes)</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.zipcode}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">First Page Visited</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.city}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                    <div class="w-full flex p-2">
                        <div class="px-4 text-gray-500 text-right basis-1/3">Days Visited</div>
                        <!-- <div class=" basis-2/3">{{viewDetailsData?.zipcode}}</div> -->
                        <mat-icon svgIcon="mat_solid:horizontal_rule"></mat-icon>
                    </div>
                </div>
            </div>
            </ng-container>
           
            
        </div>

          <!-- Notes -->
          <div class=" card p-0 " id="notes">
            <div class="font-bold px-5 py-3 border-b-2 cursor-default flex items-center">
                <span class="text-xl ">Notes</span>
            </div>
            <div class="flex flex-col p-5 mt-4">
                <div *ngFor="let note of noteList; let i =index" class="{{edit_note_code!=note.note_id?'hover:bg-slate-100':''}} rounded-2xl mb-1" >
                    <!-- <ng-container > -->
                        <div class="flex w-full space-x-3 p-2 mb-2">
                            <div class="w-8">
                                <div class="h-6 w-6 p {{i%4==0?'bg-indigo-600':i%4==1?'bg-amber-600':i%4==2?'bg-emerald-600':i%3==0?'bg-yellow-600':''}} text-white font-extrabold
                                 flex items-cente justify-center rounded-full">{{note.created_by.toString().charAt(0) | uppercase}}</div>
                            </div>
                            <ng-container *ngTemplateOutlet="edit_note_code==note.note_id?createNote:''; context:{$implicit:note}"></ng-container>
                            <div *ngIf="edit_note_code != note?.note_id" class="flex flex-col basis-full">
                                <div class="font-semibold" *ngIf="note?.note_title">{{note?.note_title}}</div>
                                <span class="whitespace-pre">{{note?.remarks}}</span>
                            
                                <div class=" mt-2 space-y-1 rounded-3xl">
                                    <div class="flex  justify-between  items-center pb-2 px-3 text-sm" *ngIf="note?.attachment_1">
                                        <a [href]="getUrl(note?.attachment_1)">
                                        <div class="flex space-x-2"><mat-icon class="icon-size-4" [svgIcon]="splitText(note?.attachment_1,'icon')"></mat-icon>
                                                <span class="text-sky-600">{{splitText(note?.attachment_1,'name')}}</span>
                                            </div>
                                        </a>
                                        <a [href]="getUrl(note?.attachment_1)">
                                            <mat-icon svgIcon="heroicons_outline:download" class="icon-size-4 hover:text-green-500" ></mat-icon>
                                        </a>
                                    </div>
                                    <div class="flex justify-between items-center pb-2 px-3 text-sm" *ngIf="note?.attachment_2">
                                        <a [href]="getUrl(note?.attachment_2)">
                                        <div class=" space-x-2"><mat-icon class="icon-size-4" [svgIcon]="splitText(note?.attachment_2,'icon')"></mat-icon>
                                            <span  class="text-sky-600">{{splitText(note?.attachment_2,'name')}}</span>
                                        </div>
                                        </a>
                                        <a [href]="getUrl(note?.attachment_2)">
                                            <mat-icon svgIcon="heroicons_outline:download" class="icon-size-4 hover:text-green-500" ></mat-icon>
                                        </a>
                                    </div>
                                </div>


                                <div class="mt-2 flex px-1 w-[100%] justify-between">
                                    <div class="basis-1/3 text-sm truncate overflow-hidden">
                                        <span>{{'Lead - '}}</span>
                                        <span class="text-sky-600 hover:underline hover:cursor-pointer">{{viewDetailsData?.first_name+' '+viewDetailsData?.last_name}}</span>
                                    </div>
                                    <div class="text-sm flex items-center space-x-1" >
                                        <mat-icon class=icon-size-4 svgIcon="heroicons_solid:clock"></mat-icon>
                                        <span class="text-sm mx-1">{{note?.created_on | date :'MMM dd yyyy, hh:mm a'}}&nbsp;</span>{{ ' by '+note?.created_by}} 
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="edit_note_code != note?.note_id" class="w-28 flex space-x-1 items-start">
                                <span class="rounded-full flex justify-center items-center hover:border h-5 w-5 
                                min-h-5 min-w-5 max-h-5 max-w-5 hover:border-gray-800" (click)="editNote(note)">
                                    <mat-icon class=" hover:text-gray-800 icon-size-4" svgIcon="edit">
                                    </mat-icon>
                                </span>
                                <span class="rounded-full flex justify-center items-center hover:border h-5 w-5 
                                min-h-5 min-w-5 max-h-5 max-w-5 hover:border-red-600">
                                    <mat-icon class=" hover:text-red-600 icon-size-4" svgIcon="delete">
                                    </mat-icon>
                                </span>
                            </div>
                        </div>
                    <!-- </ng-container> -->
                </div>

                <!-- Create Note -->
               <ng-container *ngTemplateOutlet="edit_note_code==''?createNote:'';context:{$implicit:''}"></ng-container>
            </div>
            
            <!-- <div class="p-4  mt-0 border-y text-center text-gray-500 text-md">
                No Record Found
            </div> -->
        </div>

        <!-- Attachments -->
        <div class=" card p-0 pb-2" id="attachments">
            <div class="font-bold px-5 mb-4 py-3 border-b cursor-default flex items-center justify-between">
                <span class="text-xl ">Attachments</span>
                <div class="border-sky-600 bg-sky-100 hover:bg-sky-200 border p-1 px-3 rounded-lg flex justify-center items-center" [matMenuTriggerFor]="documentTypeMenu">
                    <mat-icon class="icon-size-4 text-sky-600" svgIcon="mat_solid:add"></mat-icon>
                    <span class="text-sm text-sky-600">Attach</span>
                </div>
            </div>
            <div class="flex justify-between items-center p-2 mx-7 rounded-xl font-semibold text-md">
                <div class="basis-5/12">File Name</div>
                <div class="basis-3/12">Attached By</div>
                <div class="basis-3/12">Attached On</div>
                <div class="basis-1/12">Actions</div>
            </div>
            <div class="flex justify-between items-center p-2 mx-7 rounded-xl text-sm hover:bg-hover " *ngFor="let att of AttachmentList">
                <div class="  mr-2 flex basis-5/12">
                    <a [href]="getUrl(att?.attachment_url)" class="space-x-2 basis-4/5 flex grow-0 justify-start"  >
                        <mat-icon class="icon-size-4" [svgIcon]="att?.attachment_type.toLowerCase()=='file'?splitText(att?.attachment_url,'icon'):'heroicons_outline:link'"></mat-icon>
                        <span class="text-sky-600 max-w-50 truncate  text-ellipsis">{{att?.attachment_title}}</span>
                    </a>
                </div>
                
                <div class="w-25 text-ellipsis overflow-hidden basis-3/12">
                    {{att?.created_by}}
                </div>

                <div class="w-25 text-ellipsis overflow-hidden basis-3/12">
                    {{att?.created_on | date:"MMM dd, yyyy hh:mm a"}}
                </div>
<!--  w-13 max-w-13 -->
                <div class="space-x-2 flex basis-1/12">
                    <a [href]="getUrl(att?.attachment_url)">
                        <span class="rounded-full flex justify-center items-center hover:border h-5 w-5 
                            min-h-5 min-w-5 max-h-5 max-w-5 hover:border-green-600">
                                <mat-icon class=" hover:text-green-600 icon-size-4" svgIcon="heroicons_outline:download">
                                </mat-icon>
                            </span>
                        </a>
                            <span class="rounded-full flex justify-center items-center hover:border h-5 w-5 
                            min-h-5 min-w-5 max-h-5 max-w-5 hover:border-red-600" (click)="deleteAttachment(att)">
                                <mat-icon class=" hover:text-red-600 icon-size-4" svgIcon="delete">
                                </mat-icon>
                            </span>
                </div>
            </div>
            
            <div *ngIf="AttachmentList.length<1" class="p-4  mt-0 border-y text-center text-gray-500 text-md">
                No Attachment
            </div>
        </div>

          <!-- Products -->
          <div class="card p-0 " id="products">
            <div class="font-bold px-5 py-3 border-b cursor-default flex items-center">
                <span class="text-xl ">Products</span>
            </div>
            
            <div class="p-4  mt-0 border-y text-center text-gray-500 text-md">
                No Record Found
            </div>
        </div>

        <!-- Open Activities -->
        <div class=" card p-0 " id="open_activities">
            <div class="font-bold px-5  py-3 border-b cursor-default flex items-center justify-between">
                <span class="text-xl ">Open Activities</span>
                <div class="border-sky-600 bg-sky-100 hover:bg-sky-200 border p-1 px-3 rounded-lg flex justify-center items-center" [matMenuTriggerFor]="addActivityMenu">
                    <mat-icon class="icon-size-4 text-sky-600" svgIcon="mat_solid:add"></mat-icon>
                    <span class="text-sm text-sky-600">Add New</span>
                </div>
            </div>
           
            <div class="flex">
                <div class="flex flex-col max-h-100 basis-1/2">
                    <div class="w-full font-bold">
                        <p class="pl-5 py-1">
                            Open Meetings
                        </p>
                    </div>
                    <div></div>
                    <div class="p-4  mt-0 border-y text-center text-gray-500 text-md">
                        No Record Found
                    </div>
                </div>

            </div>
            
        </div>
        
        <!-- Emails -->
        <div class=" card p-0 " id="emails">
            <div class="font-bold px-5  py-3 border-b cursor-default flex items-center justify-between">
                <span class="text-xl ">Emails</span>
                <div class="border-sky-600 bg-sky-100 hover:bg-sky-200 border p-1 px-3 rounded-lg flex justify-center items-center" (click)="ComposeNewMail()">
                    <!-- <mat-icon class="icon-size-4 text-sky-600" svgIcon="mat_solid:add"></mat-icon> -->
                    <span class="text-sm text-sky-600">Compose Email</span>
                </div>
            </div>
           
            <div class="flex">
                <div class="flex flex-col max-h-100 basis-1/2">
                    <div class="w-full font-bold">
                        <p class="pl-5 py-1">
                            Open Meetings
                        </p>
                    </div>
                    <div></div>
                    <div class="p-4  mt-0 border-y text-center text-gray-500 text-md">
                        No Record Found
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    </ng-container>


     <!-- Timeline -->
     <ng-container *ngIf="active=='timeline'">
        <div class="p-8 space-y-4">

            <!-- Upcoming ACtions -->
            <div class="p-5  card">
                <div class="font-bold pb-4 cursor-default flex items-center text-xl">
                    Upcoming Actions
                </div>
                <div class="p-4 mt-0 border-y text-gray-500 text-md">
                    No upcoming actions
                </div>
            </div>
        <!-- History -->
        <div class="p-5  card">
            <div class="font-bold pb-4 cursor-default flex items-center text-xl">
                History
            </div>
        </div>
        </div>
        </ng-container>
</div>

<mat-menu #timeMenu>
    <button mat-menu-item *ngFor="let ele of timeArray" (click)="timeSelected=ele">{{ele.name}}</button>
</mat-menu>

<ng-template #createNote let-note>
    <div id="notes_input" class="input_field flex mx-6 basis-full flex-col px-0 py-3 {{addNotes?'border-sky-700 border-solid shadow-md shadow-sky-700':''}}" >
        <span class="flex flex-col" (click)="noteToggle(true)">
            <input  *ngIf="(addNotes && addTitle)||(titleText!='')" [(ngModel)]="titleText"  [readonly]="edit_note_code==note?.note_id"
            (focusout)="titleText==''?addTitle=false:''" 
            class="placeholder:text-slate-600 font-semibold mx-6" placeholder="Add Title"  #titleRef/>
            <textarea  [(ngModel)]="remarkText" class="mx-6 resize-y  overflow-hidden {{addNotes?'min-h-15':'min-h-5'}} leading-5"
            cdkTextareaAutosize [placeholder]="addNotes?'Add note':'Add note...'"></textarea>
        </span>
        <div  *ngIf="addNotes" class="flex justify-between mt-2 px-6 py-2 pb-0 border-t">
            <div class="flex items-center"  *ngIf="edit_note_code==''">
                <mat-icon class="icon-size-4 hover:cursor-pointer" (click)="addAttachment('notes')" svgIcon="feather:paperclip"></mat-icon>
                <div class="ml-4 br pr-2  hover:cursor-pointer" *ngIf="!addTitle" (click)="setNoteTitle()">Add a title</div>
            </div>
            <div class="space-x-4">
                <button class="mat-raised-button  border-sky-600 border-solid border-2" (click)="resetNotes()">Cancel</button>
                <button class="mat-raised-button  bg-sky-600 text-white leading-3 disabled:bg-slate- disabled:text-black" (click)="saveNotes($event)" #notesSaveRef>Save</button>
            </div>
        </div>
        <div class=" mt-2 space-y-1  rounded-3xl" *ngIf="edit_note_code!=''">
            <div class="flex  justify-between  items-center pb-2 px-3 text-sm" *ngIf="note?.attachment_1">
                <div class="flex space-x-2"><mat-icon class="icon-size-4" [svgIcon]="splitText(note?.attachment_1,'icon')"></mat-icon>
                <span class="text-sky-600">{{splitText(note?.attachment_1,'name')}}</span>
            </div>
                <!-- <mat-icon svgIcon="heroicons_outline:download" class="icon-size-4 hover:text-green-500" ></mat-icon> -->
            </div>
            <div class="flex justify-between items-center pb-2 px-3 text-sm" *ngIf="note?.attachment_2">
                <div class=" space-x-2"><mat-icon class="icon-size-4" [svgIcon]="splitText(note?.attachment_2,'icon')"></mat-icon>
                    <span class="text-sky-600">{{splitText(note?.attachment_2,'name')}}</span>
                </div>
                <!-- <mat-icon svgIcon="heroicons_outline:download" class="icon-size-4 hover:text-green-500" ></mat-icon> -->
            </div>
        </div>
        <div clas="flex flex-col  mt-4 px-4 py-3"  *ngIf="edit_note_code==''">
            <div class="flex mx-8 justify-between max-w-[60%] items-center pb-2 px-3 text-sm" *ngFor="let ele of notesAttachments; let i = index">
                <span ><span class="text-sky-600">{{ele.name}}</span> ({{bytesToSize(ele.size)}})</span>
                <mat-icon svgIcon="clear" class="icon-size-4 hover:text-sky-500" (click)="removeFile('notes',i)"></mat-icon>
            </div>
        </div>
    </div>
</ng-template>

<mat-menu #documentTypeMenu>
    <button (click)="openPopUp('file','attachent')" mat-menu-item>Upload File</button>
    <button (click)="openPopUp('URL','attachent')" mat-menu-item>Attach URL</button>
</mat-menu>

<mat-menu #addActivityMenu >
    <button [matMenuTriggerFor]="callMenu" mat-menu-item>Call</button>
    <button (click)="openPopUp('meeting','activity')" mat-menu-item>Schedule Meeting</button>
</mat-menu>

<mat-menu #callMenu>
    <button (click)="openPopUp('schedule','call')" mat-menu-item>Schedule a Call</button>
    <button (click)="openPopUp('log','call')" mat-menu-item>Call Log</button>
</mat-menu>
