
 <div class="w-full border-b font-bold text-2xl px-4 py-2">Lead List</div>
 <div class="border rounded-sm p-2 h-28 flex justify-evenly space-x-1">
   <div class="rounded-xl flex  basis-24 h-24 bg-zinc-500"></div>
   <div class="flex basis-full">
      <div class="flex basis-3/4 flex-col ">
         <div class="font-semibold text-xl">
            Christopher Maclead
         </div>
         <div class="flex items-center text-sm">
            <span class="mx-1 text-zinc-500">Phone :</span> {{'555-555-5555'}} <mat-icon class="scale-75" svgIcon="mat_outline:phone"></mat-icon>
         </div>

      </div>
      <div class="flex basis-1/4 flex-cols">ssss</div>
   </div>
 </div>

