
<!-- <ng-template  #addAttachmentRef @slideInTop> -->
    <div class="mt-2 flex-col ">
        <div class="font-semibold text-2xl mb-2">{{type | titlecase}} a call</div>
        <div class="flex flex-col max-h-120 w-full overflow-auto" [formGroup]="formGroup">
            <div class="font-semibold mb-3  text-xl">Call Information</div>
            <div class="flex flex-col mb-8">
                <!-- Call to -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call {{formGroup.get('call_type').value=='Inbound'?'From':'To'}}</p>
                    <span class=" flex required input_field basis-8/12">
                        <mat-select formControlName="call_to_type"  disableOptionCentering
                         class="basis-4/12 border-r border-gray-400 mx-2"
                         panelClass="mt-10 max-w-10 rounded-none">
                            <mat-option class="px-4 py-2" *ngFor="let ele of calltoList" 
                            [value]="ele">{{ele | titlecase}}</mat-option>
                        </mat-select>
                        <mat-select class="basis-full" formControlName="call_to" 
                        (closed)="resetDropDowns(sourceSearch)"   (opened)="setFocus(sourceSearch)">
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] m-2 
                            space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input #sourceSearch  (input)="dropDownSearchFilter(sourceSearch.value,'source')">
                            </span>
                                <div class="w-full px-2 py-4 max-h-48 overflow-x-auto">
                                    <mat-option *ngIf="callToArray.length<1"  disabled>No matching record</mat-option>
                                    <mat-option *ngFor="let option of callToArray" [value]="option.country_code">
                                        {{option.country_name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Related to -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Related To</p>
                    <span class=" flex  input_field basis-8/12">
                        <mat-select  formControlName="related_to_type" class="basis-4/12  border-r
                         border-gray-400 mx-2" disableOptionCentering panelClass="mt-10 rounded-none">
                            <mat-option *ngFor="let ele of relatedToList" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-select formControlName="related_to"  class="basis-full"
                        (closed)="resetDropDowns(sourceSearch)" (opened)="setFocus(sourceSearch)" >
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] 
                            m-2 space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input #sourceSearch (input)="dropDownSearchFilter(sourceSearch.value,'source')">
                            </span>

                                <div class="w-full px-2 py-4 max-h-48 overflow-x-auto">
                                    <mat-option *ngIf="callToArray.length<1"  disabled>No matching record</mat-option>
                                    <mat-option *ngFor="let option of callToArray" [value]="option.country_code">
                                        {{option.country_name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Call Type -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Type</p>
                    <span class=" flex required input_field basis-8/12">
                        <mat-select formControlName="call_type" class="basis-4/12  mx-2" disableOptionCentering panelClass="mt-10 rounded-none">
                            <mat-option [value]="ele" *ngFor="let ele of callStatus">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Outgoing Call Status -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Outgoing Call Status</p>
                    <span class=" flex  input_field basis-8/12">
                        <mat-select formControlName="outbound_call_status" class="basis-4/12   mx-2" disableOptionCentering panelClass="mt-10 rounded-none">
                            <mat-option value="Scheduled">Scheduled</mat-option>
                            <mat-option value="Completed">Completed</mat-option>
                        </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Call Start Time -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Start Time</p>
                    <span class=" flex required input_field basis-8/12">
                        <input formControlName="call_start_date" matInput [matDatepicker]="picker" class="w-0" #inputDate autocomplete="off" >
                        <p class="basis-1/2 border-r border-gray-400 px-4" (click)="picker.open()">{{inputDate.value | date:'MMM dd, YYYY'}}</p>
                        <mat-select formControlName="call_start_time" class="basis-1/2 px-4">
                            <mat-option *ngFor="let ele of timeArray" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                <!-- Call Owner -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Owner</p>
                    <span class=" flex  input_field basis-8/12">
                        <mat-select formControlName="call_owner" class="basis-full" (closed)="resetDropDowns(sourceSearch)"   (opened)="setFocus(sourceSearch)">
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] m-2 space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input  #sourceSearch (input)="dropDownSearchFilter(sourceSearch.value,'source')">
                            </span>
                                <div class="w-full px-2 py-4 max-h-48 overflow-x-auto">
                                    <mat-option *ngIf="callToArray.length<1"  disabled>No matching record</mat-option>
                                    <mat-option *ngFor="let option of callToArray" [value]="option.country_code">
                                        {{option.country_name}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                <!-- Call Duration -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Duration</p>
                    <span class=" flex  input_field basis-8/12">
                        <input formControlName="call_duration_hours" class="w-8 mx-2 text-right" (input)="$event.target.value=validateNumericValue($event)"  value="00" autocomplete="off" >
                        <p class="px-2" >minutes</p>
                        <input  formControlName="call_duration_seconds" class="w-8 mx-2 text-right" (input)="$event.target.value=validateNumericValue($event)" value="00" autocomplete="off" >
                        <p class=" px-2" >seconds</p>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                <!-- Subject -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Subject</p>
                    <span class=" flex  input_field basis-8/12">
                        <input formControlName="subject"  class="basis-full " autocomplete="off" >
                    
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Reminder -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Reminder</p>
                    <span class=" flex  input_field basis-8/12">
                        <input  formControlName="reminder" class="basis-full " autocomplete="off" >
                    
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
            </div>

            <div *ngIf="formGroup.get('call_type').value=='Outbound'" class="font-semibold mb-3  text-xl">Purpose Of Outgoing Call</div>
            <div *ngIf="formGroup.get('call_type').value=='Outbound'" class="flex flex-col mb-8">
                <!-- Call Purpose -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Purpose</p>
                    <span class=" flex  input_field basis-8/12">
                        <mat-select  formControlName="call_purpose" class="basis-4/12   mx-2" disableOptionCentering panelClass="mt-10 rounded-none">
                            <mat-option value="">-None-</mat-option>
                            <mat-option *ngFor="let ele of callPurposeList" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Call to -->
                <div class="field_container items-start">
                    <p class="input_label basis-4/12">Call Agenda</p>
                    <span class=" flex  input_field basis-8/12">
                       <input  formControlName="call_agenda"  class="basis-full"/>
                    </span>
                </div>
            </div>
            <div *ngIf="formGroup.get('outbound_call_status').value == 'Completed'" class="font-semibold mb-3  text-xl">Outcome Of Outgoing Call</div>
            <div *ngIf="formGroup.get('outbound_call_status').value == 'Completed'" class="flex flex-col mb-8">
                <!-- Call Purpose -->
                <div class="field_container ">
                    <p class="input_label basis-4/12">Call Result</p>
                    <span class=" flex  input_field basis-8/12">
                        <mat-select  formControlName="call_result" class="basis-4/12   mx-2" disableOptionCentering panelClass="mt-10 rounded-none">
                            <mat-option value="">-None-</mat-option>
                            <mat-option *ngFor="let ele of callPurposeList" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- Call to -->
                <div class="field_container items-start">
                    <p class="input_label basis-4/12">Description</p>
                    <span class=" flex  input_field basis-8/12">
                        <textarea formControlName="call_result_description"  cdkTextareaAutosize class="basis-full"></textarea>
                    </span>
                </div>
            </div>



            
            <div *ngIf="formGroup.get('call_type').value=='Inbound'" class="font-semibold mb-3  text-xl">Reason For Incoming Call</div>
            <div *ngIf="formGroup.get('call_type').value=='Inbound'"  class="flex flex-col mb-8">
                <!-- Description -->
                <div class="field_container items-start">
                    <p class="input_label basis-4/12">Description</p>
                    <span class=" flex  input_field basis-8/12">
                        <textarea formControlName="Description" 
                         cdkTextareaAutosize class="basis-full"></textarea>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex justify-end space-x-2 mt-3">
            <button (click)="getValues()">getValues()</button>
            <button matripple class="mat-focus-indicator mat-raised-button mat-button-base bg-inherit border-2 border-primary-500 border-solid" mat-dialog-close>Cancel</button>
            <button matripple class="mat-focus-indicator mat-raised-button mat-button-base mat-primary disabled:bg-accent-200 disabled:text-primary disabled:shadow-none disabled:pointer-events-none"
                [mat-dialog-close]="">Attach</button>
        </div>
    </div>
<!-- </ng-template> -->

<mat-datepicker #picker></mat-datepicker>