/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Pristine's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.input_field{
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius:8px;
    padding: 8px;
    min-width: 256px!important;
    font-size: 15px;
    &:focus, &:focus-within:not(.no_hover){
        border-color: black;
        border-width: 1px;
        box-shadow: 0 0 8px skyblue;
    }
    &:required, &.required{
        border-left-color: orangered   ;
        border-left-width: 4px;
    }
    &:hover:not(.no_hover){
        box-shadow:0px 0px 5px 1px #aaa;
    }

    &.error{
        border-color: orangered;
    }

    & .mat-select .mat-select-arrow-wrapper{
        display: none !important;
    }

    &.underline_view{
        border: none !important;
        border-bottom: 1px solid lightgray!important;
        border-radius: 0!important;
        padding-bottom: 0;
        &:focus, &:focus-within:not(.no_hover){
            border-bottom: #0284C7  1px solid !important;
            box-shadow: none!important;
        }
        &:not(.no_hover):hover{
            box-shadow: none;
            border-bottom-color: rgb(37, 37, 37) !important;
        }
    
    }
}
.input_label{
    flex-basis: 50%;
    font-weight: 500;
    text-align: right;
    padding-right: 1.5em;
    font-size: 15px ;
}
.field_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;

    & .custom_input{
        display: flex!important;
        // border-color: grey;
        // border-width: 1px;
        // border-style: solid!important;
        // border-radius:8px!important;
        // padding: 8px!important;
        align-items: center!important;
        justify-content: space-between!important;
        
        input{
            display: flex!important;
            align-items: stretch!important;
        }
    }

}

.field_container_underline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
    
    border-radius: 0!important;
    align-items: flex-end !important;
    & .input_label{
        flex-basis: 40% !important;
        font-weight: 500;
        text-align: left !important;
        padding: 0 0 4px 0!important;
        border-bottom: 1px solid lightgray!important; 
    }
    // & .input_label.required::before {
    //     background: #f27b77;
    //     bottom: -1px;
    //     content: "";
    //     display: inline-block;
    //     height: 2px;
    //     left: 0;
    //     position: absolute;
    //     width: 25px;
    // }
}

.card{
    background-color: white;
    border-radius: 12px;
    border-color: #e9e8e2 ;
    border-width: 1px;
    border-style: solid;
    padding: 8px;
}


.top-popUp-panel .mat-dialog-container{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.non-card .mat-dialog-container{
    border-radius: 0!important;
    padding: 0!important;
}

