<!-- <div class="  rounded-t-xl overflow-hidden h-200 min-h-0 max-h-screen"> -->
    <!-- <div class="w-full h-[5em] border-b"></div> -->
       <!-- <div class="overflow-visible p-[10%] pt-0 box-content h-full"> -->
          <div class="h-fit p-4  w-full ">
            <div>
                <h1 class="text-xl font-medium py-4">Lead Image</h1>
                <div class="p-4">
                  <div class="h-14 w-10 flex justify-center items-center
                   min-w-14 p-1 border max-h-14 max-w-14 rounded-full overflow-hidden"
                   matTooltip="Upload User Image" matTooltipPosition="right"
                   (click)="uploadImage()"
                   (mouseover)="image='heroicons_solid:camera'"
                   (mouseleave)="image='mat_solid:person'">
                      <!-- <img class="hover:hidden" height="40px" src="./../.../../../../../assets/images/avatars/avatar.png" /> -->
                      <mat-icon class="h-full w-full" [svgIcon]="image" ></mat-icon>
                  </div>
                </div>
            </div>
            <div>
                <h1 class="text-xl font-medium py-4">Lead Information</h1>
                <div class="px-4 flex space-x-3">
                  <div class="flex  flex-col basis-2/4">
                      <div class="field_container">
                          <p class="input_label">Lead Owner</p>
                          <input class="input_field basis-2/4"/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">First Name</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Title</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Phone</p>
                          <input  class="input_field basis-2/4 "/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Mobile</p>
                          <input class="input_field basis-2/4"/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Lead Source</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Industry</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Annual Revenue</p>
                          <input  class="input_field basis-2/4 "/>
                      </div>
                  </div>
      
                  <div class="px-4 flex flex-col basis-2/4">
                      <div class="field_container">
                          <p class="input_label">Company</p>
                          <input required class="input_field basis-2/4"/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Last Name</p>
                          <input required class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Email</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Fax</p>
                          <input  class="input_field basis-2/4 "/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Website</p>
                          <input class="input_field basis-2/4"/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Lead Status</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">No. of Employees</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Raiting</p>
                          <input  class="input_field basis-2/4 "/>
                      </div>
                      <div class="field_container">
                          <p class="input_label">Skype ID</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Secondary Email</p>
                          <input class="input_field basis-2/4" />
                      </div>
                      <div class="field_container">
                          <p class="input_label">Twitter</p>
                          <input required class="input_field basis-2/4 "/>
                      </div>
                  </div>
                </div>
            </div> 
            <div> 
                <h1 class="text-xl font-medium py-4">Address Information</h1>
            </div>
        </div>
       <!-- </div>
   </div> -->


