<div class="flex w-full flex-col">
    <app-header [filterIcon]="headerData" (filterViewToggle)="getTOggler($event)"></app-header>
<!--    <mat-drawer-contanier></mat-drawer-contanier>-->

    <div class="overflow-hidden grow flex flex-col bg-green-400">
        <mat-drawer-container class="shadow grow overflow-hidden">

            <!-- Drawer -->
            <mat-drawer
                class="w-72 dark:bg-gray-900"
                [autoFocus]="false"
                [mode]="'side'"
                [opened]="filterOpen"
                #matDrawer>

                <app-leads-filter></app-leads-filter>

                <!-- Demo sidebar -->
            </mat-drawer>

            <!-- Drawer content -->
            <mat-drawer-content class="flex border-solid flex-col">

                <!-- Main -->
                <div class="flex item bg-green-500  border border-red-500 flex-col grow min-h-10 ">
                    <leads-list>
                        aaa
                    </leads-list>
                </div>

            </mat-drawer-content>

        </mat-drawer-container>
    </div>
</div>

