<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col flex-0 pb-16  bg-default dark:bg-transparent">
        <app-header [filterIcon]="headerData" (ViewPage)="switchView($event)" [pageName]="'Lead'" (filterViewToggle)="getTOggler($event)"></app-header>
    </div>

    <mat-drawer-container class="flex flex-col flex-auto -mt-16  shadow bg-card">

        <!-- Drawer -->
        <mat-drawer
            class="w-72 dark:bg-gray-900"
            [autoFocus]="false"
            [mode]="'side'"
            [opened]="filterOpen && view"
            #matDrawer>
            <app-leads-filter></app-leads-filter>
            
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Main -->
            <div
                class="flex-auto p-6 sm:p-1 overflow-y-auto"
                cdkScrollable>
                <leads-list *ngIf="view"></leads-list>
                <!-- CONTENT GOES HERE -->
                <create-edit-leads *ngIf="!view"></create-edit-leads>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
