<div class="w-full">
    <app-header [filterIcon]="headerData" (filterViewToggle)="getTOggler($event)"></app-header>
<!--    <mat-drawer-contanier></mat-drawer-contanier>-->

    <!-- <div class="overflow-hidden  bg-green-400"> -->
        <mat-sidenav-container class="h-full">
            <!-- <mat-drawer-container class="shadow grow overflow-hidden"> -->

            <!-- Drawer -->
            <mat-sidenav
                class="w-72 dark:bg-gray-900"
                [autoFocus]="false"
                [mode]="'side'"
                [opened]="filterOpen"
                #matDrawer>

                <app-leads-filter></app-leads-filter>

                <!-- Demo sidebar -->
            </mat-sidenav>

            <!-- Drawer content -->
            <mat-sidenav-content  id="drawer_content" class="bg-gray-200 p-4 container" #drawer>
                          <div class="h-[100%] pb-10">
                            <leads-list></leads-list>
                          </div>
            </mat-sidenav-content>


        </mat-sidenav-container>
    <!-- </div> -->
</div>

