    <div class="mt-2 flex-col ">
        <div class="font-semibold text-2xl mb-2">{{activeTemp=='participant'?'Add Participants':'Meeting Information'}}</div>
        <div class="h-100 overflow-y-auto">
            <ng-container *ngTemplateOutlet="activeTemp=='participant'?participantsTemp:addMeetingTemp"></ng-container>
        </div>
        <div class="flex justify-end space-x-2 mt-3" *ngIf="activeTemp==''">
            <button matripple class="mat-focus-indicator mat-raised-button mat-button-base bg-inherit border-2 border-primary-500 border-solid" mat-dialog-close>Cancel</button>
            <button matripple class="mat-focus-indicator mat-raised-button mat-button-base mat-primary disabled:bg-accent-200 disabled:text-primary disabled:shadow-none disabled:pointer-events-none"
            (click)="SaveMeeting()"
                [mat-dialog-close]="">Save</button>
        </div>

        <div class="flex justify-end space-x-2 mt-3" *ngIf="activeTemp!=''">
            <button matripple class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="activeTemp=''">Done</button>
        </div>
    </div>
<ng-template  #addMeetingTemp >
        
        <div class="flex flex-col w-fulls"  @slideInLeft @slideOutRight [formGroup]="formGroup">
            <div class="flex flex-col">
                <!-- Title -->
                <div class="field_container_underline">
                    <span class=" flex  underline_view input_field basis-full">
                        <input class="w-full" placeholder="Title" formControlName="title">
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                <!-- Location -->
                <div class="field_container_underline">
                    <span class=" flex  underline_view input_field basis-full">
                        <input placeholder="Location" [matAutocomplete]="loc_auto" class="w-full"  formControlName="location">
                        <mat-autocomplete #loc_auto class="mt-1" classList="mt-1">
                            <mat-option value="bfv vajadknadnf dsnsdnfasdf">bfv vajadknadnf dsnsdnfasdf</mat-option>
                        </mat-autocomplete>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                <!-- All Day -->
                <div class="field_container_underline">
                    <p class="input_label">All Day</p>
                    <span class=" flex underline_view input_field no_hover basis-full px-0">
                        <mat-checkbox [color]="'primary'" (change)="toggleAllday($event?.checked)" formControlName="allDay"></mat-checkbox>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                 <!-- From Time -->
                 <div class="field_container_underline ">
                    <p class="input_label ">From</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <input formControlName="meeting_start_date" matInput [matDatepicker]="pickerstart" class="w-0" #inputDate autocomplete="off" >
                        <p class="basis-1/2  border-gray-400 pr-4" (click)="pickerstart.open()">{{inputDate.value | date:'MMM dd, YYYY'}}</p>
                        <mat-select formControlName="meeting_start_time" disableOptionCentering class="basis-1/2 px-4">
                            <mat-option *ngFor="let ele of timeArray" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon class="" matTooltip="Required" svgIcon="info"></mat-icon>
                    </span>
                    <mat-datepicker #pickerstart></mat-datepicker>
                </div>
                 
                <!-- To Time -->
                 <div class="field_container_underline ">
                    <p class="input_label ">To</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <input formControlName="meeting_end_date" matInput [matDatepicker]="pickerend" class="w-0" #inputDate autocomplete="off" >
                        <p class="basis-1/2  border-gray-400 pr-4" (click)="pickerend.open()">{{inputDate.value | date:'MMM dd, YYYY'}}</p>
                        <mat-select formControlName="meeting_end_time" disableOptionCentering class="basis-1/2 px-4">
                            <mat-option *ngFor="let ele of timeArray" [value]="ele">{{ele}}</mat-option>
                        </mat-select>
                        <mat-icon class="" matTooltip="Required" svgIcon="info"></mat-icon>
                    </span>
                    
                    <mat-datepicker #pickerend></mat-datepicker>
                </div>

                 <!-- Repeat -->
                 <div class="field_container_underline">
                    <p class="input_label">Repeat</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="repeat" class="basis-full" 
                        panelClass="mt-7"
                        disableOptionCentering >
                            <mat-option value="">None</mat-option>
                            <mat-option value="lead">Daily</mat-option>
                            <mat-option value="weekly">Weekly</mat-option>
                            <mat-option value="monthly">Monthly</mat-option>
                            <mat-option value="yearly">Yearly</mat-option>
                        </mat-select>
                    </span>
                    <!-- <span class=" flex underline_view input_field  basis-full px-0">
                        <span class="w-[30%]">{{participantsList?.length>0?participantsList?.length +'  Selected':'None'}}</span>
                        <div (click)="activeTemp='repeat'" class="w-[30%] flex cursor-pointer ml-4 text-primary-500 items-center"><mat-icon class="mr-1 icon-size-4 text-primary-500" svgIcon="mat_solid:add"></mat-icon>Add</div>
                        <mat-icon svgIcon=""></mat-icon>
                    </span> -->
                </div>

                <!-- host -->
                <div class="field_container_underline ">
                    <p class="input_label required">Host </p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="meeting_host" class="basis-full" #hostSelect  (closed)="resetDropDowns(hostSearch)"
                        panelClass="mt-7"
                        disableOptionCentering (opened)="setFocus(hostSearch)">
                            <mat-select-trigger>{{formGroup.get('meeting_host').value?.name}}</mat-select-trigger>
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] m-2 space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input  #hostSearch (input)="dropDownSearchFilter(hostSearch.value,'source')">
                            </span>
                            <div class="w-full px-2 py-4 max-h-48 overflow-x-auto">
                                <mat-option *ngIf="userListFiltered.length<1"  disabled>No matching record</mat-option>
                                <mat-option *ngFor="let option of userListFiltered" [value]="option">
                                    <!-- <div> -->
                                        {{option.name}} &nbsp;
                                    
                                    (<span class="text-secondary text-sm mx-2">{{option.email}}</span>)
                                    <!-- </div> -->
                                </mat-option>
                            </div>
                        </mat-select>
                    </span>
                </div>

                 <!-- Participants -->
                 <div class="field_container_underline">
                    <p class="input_label">Participants</p>
                    <span class=" flex underline_view input_field  basis-full px-0">
                        <span class="w-[30%]">{{participantsList?.length>0?participantsList?.length +'  Selected':'None'}}</span>
                        <div (click)="activeTemp='participant'" class="w-[30%] flex cursor-pointer ml-4 text-primary-500 items-center"><mat-icon class="mr-1 icon-size-4 text-primary-500" svgIcon="mat_solid:add"></mat-icon>Add</div>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>

                
                  <!-- Related to -->
                  <div class="field_container_underline ">
                    <p class="input_label required">Related to</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="meeting_related_to" class="basis-full" 
                        (change)="formGroup.get('dealOrAcc').setValue(formGroup.get('meeting_related_to').value=='contact'?'account':'')"
                        panelClass="mt-7"
                        disableOptionCentering >
                            <mat-option value="">None</mat-option>
                            <mat-option value="lead">Lead</mat-option>
                            <mat-option value="contact">Contacts</mat-option>
                        </mat-select>
                    </span>
                </div>

                 <!-- Related to Type  -->
                 <div class="field_container_underline " *ngIf="formGroup.get('meeting_related_to').value!=''">
                    <p class="input_label required">{{formGroup.get('meeting_related_to').value | titlecase}}</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="meeting_related_to_email" class="basis-full" #hostSelect (closed)="resetDropDowns(relatedLeadSearch)"
                        panelClass="mt-7"
                        disableOptionCentering (opened)="setFocus(relatedLeadSearch)">
                            <mat-select-trigger>{{formGroup.get('meeting_related_to_email').value?.name}}</mat-select-trigger>
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] m-2 space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input  #relatedLeadSearch (input)="dropDownSearchFilter(relatedLeadSearch.value,formGroup.get('meeting_related_to').value)">
                            </span>
                            <div class="w-full px-2 py-4 max-h-48 overflow-x-auto" *ngIf="formGroup.get('meeting_related_to').value=='lead'">
                                <mat-option *ngIf="leadList.length<1"  disabled>No matching record</mat-option>
                                <mat-option [selected]="userEmail == option.email" *ngFor="let option of leadList" [value]="option">
                                    <div>
                                        <span class="font-extrabold">{{option.name}} </span>&nbsp;
                                    
                                    (<span class="text-secondary text-sm mx-2">{{option.email}}</span>)
                                    </div>
                                </mat-option>
                            </div>
                            <div class="w-full px-2 py-4 max-h-48 overflow-x-auto" *ngIf="formGroup.get('meeting_related_to').value=='contact'">
                                <mat-option *ngIf="contactList.length<1"  disabled>No matching record</mat-option>
                                <mat-option [selected]="userEmail == option.email" *ngFor="let option of contactList" [value]="option">
                                    <div>
                                        <span class="font-extrabold">{{option.name}} </span>&nbsp;
                                    
                                    (<span class="text-secondary text-sm mx-2">{{option.email}}</span>)
                                    </div>
                                </mat-option>
                            </div>
                        </mat-select>
                    </span>
                </div>
                <!-- Add as participant -->
                <div class="field_container_underline" *ngIf="formGroup.get('meeting_related_to_email').value">
                    <p class="input_label"> </p>
                    <span class=" flex underline_view text-secondary text-sm input_field no_hover basis-full px-0">
                        <mat-checkbox [color]="'primary'" (change)="addParticipants(formGroup.get('meeting_related_to_email').value)">Add {{formGroup.get('meeting_related_to_email').value?.name}} as a participant</mat-checkbox>
                        <mat-icon svgIcon=""></mat-icon>
                    </span>
                </div>
                 <!-- Related to Contact  -->
                 <div class="field_container_underline " *ngIf="formGroup.get('meeting_related_to').value=='contact'">
                    <mat-select class="input_label" formControlName="dealOrAcc">
                        <mat-option  value="account">Account</mat-option>
                        <mat-option value="deal">Deal</mat-option>
                    </mat-select>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="deal_account" class="basis-full" #hostSelect (closed)="resetDropDowns(relatedLeadSearch)"
                        panelClass="mt-7"
                        disableOptionCentering (opened)="setFocus(relatedLeadSearch)">
                            <mat-select-trigger>{{formGroup.get('deal_account').value?.name}}</mat-select-trigger>
                            <span class="sticky flex self-stretch bg-white top-2 w-[90%] m-2 space-x-2 border border-accent-500 rounded-md py-2 px-2">
                                <mat-icon svgIcon="search"></mat-icon>
                                <input  #relatedLeadSearch (input)="dropDownSearchFilter(relatedLeadSearch.value,formGroup.get('dealOrAcc').value)">
                            </span>
                            <div class="w-full px-2 py-4 max-h-48 overflow-x-auto" *ngIf="formGroup.get('dealOrAcc').value=='deal'">
                                <mat-option *ngIf="userListFiltered.length<1"  disabled>No matching record</mat-option>
                                <mat-option [selected]="userEmail == option.email" *ngFor="let option of leadList" [value]="option">
                                    <div>
                                        <span class="font-extrabold">{{option.name}} </span>&nbsp;
                                    
                                    (<span class="text-secondary text-sm mx-2">{{option.email}}</span>)
                                    </div>
                                </mat-option>
                            </div>
                            <div class="w-full px-2 py-4 max-h-48 overflow-x-auto" *ngIf="formGroup.get('dealOrAcc').value=='account'">
                                <mat-option *ngIf="userListFiltered.length<1"  disabled>No matching record</mat-option>
                                <mat-option [selected]="userEmail == option.email" *ngFor="let option of contactList" [value]="option">
                                    <div>
                                        <span class="font-extrabold">{{option.name}} </span>&nbsp;
                                    
                                    (<span class="text-secondary text-sm mx-2">{{option.email}}</span>)
                                    </div>
                                </mat-option>
                            </div>
                        </mat-select>
                    </span>
                </div>

                <!-- Participants Reminder -->
                <div class="field_container_underline ">
                    <p class="input_label required">Participants Reminder</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <mat-select formControlName="remind_participant" class="basis-full" 
                        panelClass="mt-7"
                        disableOptionCentering >
                            <mat-option value="">None</mat-option>
                            <mat-option value="0">At time of meeting</mat-option>
                            <mat-option value="5">5 minutes before</mat-option>
                            <mat-option value="10">10 minutes before</mat-option>
                            <mat-option value="15">15 minutes before</mat-option>
                            <mat-option value="30">30 minutes before</mat-option>
                            <mat-option value="60">1 hour before</mat-option>
                            <mat-option value="120">2 hours before</mat-option>
                        </mat-select>
                    </span>
                </div>
                

                 <!-- Description -->
                 <div class="field_container_underline ">
                    <p class="input_label required">Description</p>
                    <span class=" flex input_field underline_view basis-full px-0">
                        <textarea cdkTextareaAutosize formControlName="description"  
                        class="basis-full mx-6 resize-y leading-5 min-h-15 max-h-200 h-20" ></textarea>
                    </span>
                </div>
            </div>
        </div>
       
</ng-template>


<ng-template #participantsTemp>
   
    <div class="w-full flex space-x-2 "  @slideInLeft @slideOutRight>
        <mat-select disableOptionCentering [disabled]="showSelectedParticipant!='all'" (selectionChange)="switchParticipantList('all')" [(ngModel)]="selectedParticipantType"
         #cat_select class="border border-gray-500 rounded-md p-2   basis-1/3" panelClass="mt-7 rounded-none">
            <mat-option value="contact">Contacts</mat-option>
            <mat-option selected value="lead">Leads</mat-option>
            <mat-option value="user">Users</mat-option>
        </mat-select>
        <input placeholder="Search" [(ngModel)]="participantSearchKey" [disabled]="showSelectedParticipant!='all'" (input)="dropDownSearchFilter('','participant')" 
        class="border border-gray-500 rounded-md p-2  basis-1/3">
        <div class="p-2 flex basis-1/3 space-x-4">
            <p (click)="switchParticipantList('all')" class="{{showSelectedParticipant!='all'?'text-gray-500':'text-black'}} hover:underline cursor-pointer">All</p>
            <p (click)="switchParticipantList('selected')"  class="{{showSelectedParticipant!='selected'?'text-gray-500':'text-black'}} hover:underline cursor-pointer ">Selected ({{participantsList?.length}})</p>
        </div>
    </div>
    <div class="max-h-44 h-44 p-y-4 mt-4 overflow-y-auto">
        <div *ngFor="let ele of participantsShowList" (click)="ele.checked=!ele.checked; addParticipants(ele)" class="flex px-4 py-2 ">
            <div class="mr-3">
                <mat-checkbox (click)="$event.preventDefault()" class="disabled:text-primary"  [checked]="ele.checked"></mat-checkbox>
            </div>
            <div class="leading-5">
                <span class="text-primary-500">{{ele?.name |titlecase}}</span>&nbsp;<span class="text-secondary" *ngIf="ele?.source!=''">({{ele?.source}})</span>
                <br/>
                <span >{{ele?.email}}</span>
            </div>
           
        </div>
    </div>
</ng-template>
