<div class="flex overscroll-contain h-full flex-col min-h-4 relative bg-white p-2">
    <div class="w-70 h-70 top-0 sticky">
        <h2 class="font-bold mb-4">Filter Leads By</h2>
        <span class="rounded-3xl flex items-center justify-between mt-4 px-4 py-2 border border-gray-500 w-full">
            <input [(ngModel)]="filterSearch" placeholder="Search Filter" />
            <mat-icon class="icon-size-4 hover:text-sky-400"
            (click)="clearFilter()"  [matTooltip]="'Clear Filters'" svgIcon="feather:x"></mat-icon>

        </span>
    </div>
    <div class="h-4/5 py-4 mb-16 block overflow-auto">
        <ng-container >
            <span class="h-3/4 w-full overflow-auto overscroll-contain">
                        <div *ngFor="let ele of filterArray"  class="{{'bg-amber-'+ele.toString()}} border p-10 flex grow  w-full">
                            {{'bg-amber-'+ele.toString()}}
                        </div>
            </span>
        </ng-container>

    </div>
    <div class="w-70 h-70 py-4 bottom-16 sticky flex justify-around">
        <button class="w-2/5" mat-stroked-button>Apply</button>
        <button class="w-2/5" mat-stroked-button>Clear</button>
    </div>
</div>
